.post__list{
  margin-top: 40px;
}
.post__item{
  margin-bottom: 24px;
}
.post__title{
  margin-bottom: 16px;
  font-size: clamp(18px, 5vw, 24px);
  font-weight: bold;
}
.post__desc{
  margin-bottom: 8px
}
@media (hover:hover){
  .post__link:hover .btn{
    background-size: 0% 100%;
  }
}
