article{
  margin-top: 80px;
}
article h1{
  margin-bottom: 16px;
  font-size: clamp(18px, 5vw, 24px);
  font-weight: bold;
}
article h1 span{
  display: block;
  font-size: 12px;
  font-weight: 400;
  color: var(--lightGreen);
}
article h2{
  margin-bottom: 8px;
  font-size: clamp(16px, 5vw, 18px);
  font-weight: bold;
}
article p{
  margin-bottom: 16px;
}
article ul{
  padding-left: 16px;
  list-style: initial;
}
article a{
  color: var(--lightGreen);
  background: linear-gradient(var(--lightBlack),var(--lightBlack));
  background-size: 0% 80%;
  background-repeat: no-repeat;
  background-position: left center;
  transition: background var(--ease), color var(--ease);
}
@media (hover:hover){
    article a:hover{
      background-size: 100% 80%;
    }
}
article figure{
  width: calc(100% + 80px);
  margin: 0 -40px;
  padding: 24px 0;
}
article figure img{
  width: 100%
}
article figcaption{
  opacity: .7;
  padding: 4px 56px 0;
  font-size: 12px;
}
