@font-face {
  font-family: 'Sofia Pro';
  src: url('../fonts/sofia_pro_regular_az-webfont.woff2') format('woff2'),
    url('../fonts/sofia_pro_regular_az-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Sofia Pro';
  src: url('../fonts/sofia_pro_bold_az-webfont.woff2') format('woff2'),
    url('../fonts/sofia_pro_bold_az-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Sofia Pro';
  src: url('../fonts/sofia_pro_bold_italic_az-webfont.woff2') format('woff2'),
    url('../fonts/sofia_pro_bold_italic_az-webfont.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Sofia Pro';
  src: url('../fonts/sofia_pro_regular_italic_az-webfont.woff2') format('woff2'),
    url('../fonts/sofia_pro_regular_italic_az-webfont.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Sofia Pro';
  src: url('../fonts/sofia_pro_black_az-webfont.woff2') format('woff2'),
    url('../fonts/sofia_pro_black_az-webfont.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
