:root{
  --ease: .3s ease-in-out;
  --shadow: 0 3px 6px rgba(0,0,0,.16);
}
html{
  display: flex;
  min-height: 100vh;
  justify-content: center;
  font-family: var(--font);
  color: var(--lightBlack);
  font-size: clamp(16px, 3vw, 18px);
}
body{
  display: flex;
  flex-direction: column;
  width: 65ch;
  padding: 24px 0;
  color: currentColor;
  line-height: 1.5;
}
a{
  color: currentColor;
  text-decoration: none;
}
