.btn{
  font-size: 14px;
  font-weight: bold;
  color: var(--lightBlack);
  background: linear-gradient(var(--lightestGreen),var(--lightestGreen));
  background-size: 100% 70%;
  background-repeat: no-repeat;
  background-position: left center;
  transition: background var(--ease);
}
@media (hover:hover){
  .btn:hover{
    background-size: 0% 70%;
  }
}
